.formContainer2{
    display: block;
    text-align: center;
    width: 95%;
    border : 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
     padding: 20px;
   margin: auto;
   margin-top: 50px;
font-family: 'Lora',serif
}
.formContainer2 p{
    font-weight: 500
}