.Confidentiality{
    text-align: center;
    display: block;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #aaa;
    margin: auto;
    width:95%;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
     
}
