.Topic{
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #aaa;
    padding: 16px;
    margin: auto;
    text-align: center;
    width:95%;
    display: block;
    margin-top: 10px;
    margin-top: 10px;

}
